@charset "utf-8";
@use "../index" as *;

// ------------ CTA ------------
.p-cta{
    padding-bottom: 100px;
    background-color: rgba(0,11,51,.7);
    @include mq(){
        padding-bottom: 55px;
    }
    .l-wrapper{
        margin-top: 120px;
        color: #fff;
        text-align: center;
        @include mq(){
            margin-top: 55px;

        }
    }
    &__ttl{
        @extend %font-size_30;
        font-weight: 700;
    }
    &__text{
        margin-top: 20px;
        @include mq(sp){
            text-align: left;
        }
    }
    &__form{
        margin-top: 40px;
        &-box{
            text-align: left;
            @include mq_up(){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
        &-block{
            @include mq_up(){
                width: 325px;
                display: flex;
                align-items: center;
                span{
                    width: 94px;
                }
            }
        }
        .c-btn{
            @extend %font-size_18;
            margin: auto;
            cursor: pointer;
        }
    }
    &__button {
        max-width: 350px;
        width: 100%;
        margin: 25px auto 18px;
        .c-btn{
            width: 100%;
            @extend %font-size_20;
            font-family: $sub-font-family;
            letter-spacing: -0.04em;
            padding: 12px 20px 8px 77px;
            border-radius: 5px;
            border: 1px solid #fff;
            justify-content: center;
        }
    }
    &__mail{
        a{
            color: #fff;
            font-size: 19px;
            font-family: $sub-font-family;
            padding: 2px 0 2px 30px;
            background: url("../img/common/icon_mail.svg") no-repeat left center;
            background-size: 19px 14px;
        }
    }
    &--bg {
        background: url("../img/common/bg-cta.jpg") no-repeat center;
        background-size: cover;
        padding-bottom: 90px;
        @include mq(){
            padding-bottom: 45px;
        }
        .l-wrapper {
            margin-top: 35px;
        }
        .p-cta__text{
            margin-top: 9px;
            @include mq(){
                margin-top: 5px;
            }
        }
    }
}