@charset "utf-8";
@use "../index" as *;

// ------------ LIBRARY ------------
.p-library{
    .l-sec{
        background: url("../img/library/bg-library.png") no-repeat top -30% center;
        background-size: 100% auto;
        overflow: hidden;
        @include mq(){
            background-position: top -2% center;
        }
        @include mq(sp){
            background-position: top 2% center;
        }
    }
    .c-pageTitle{
        background-image: url("../img/library/bg-pagetitle.jpg");
    }
    .c-ttl01{
        margin-bottom: 20px;
    }
    &__product{
        margin-bottom: 145px;
        @include mq{
            margin: 20px 0 50px;
        }
    }
    &__management{
        margin-bottom: 160px;
        @include mq{
            margin-bottom: 60px;
        }
    }
}

.c-libraryList{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
    @include mq(){
        margin: 0 -10px -20px;
    }
    @include mq(sp){
        margin: 0 0 20px;
    }
}