@charset "utf-8";
@use "../index" as *;

// ------------ Logos ------------
.p-logos{
  margin-top: 292px;
  padding: 110px 0 107px;
  background: #fff;
  overflow: hidden;
  /* スライドの動き等速 */
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  /* 画像のサイズ調整 */
  .swiper-slide img {
    height: auto;
    width: 100%;
  }
  @include mq(){
    margin-top: 140px;
    padding: 40px 0;
  }
}