@charset "utf-8";
@use "../../index" as *;

// Pager
.c-articlePager {
  text-align: center;
 

  li {
    width: 36px;
    height: 36px;
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    font-weight: bold;
    @extend %font-size_20;
    letter-spacing: .1em;
    margin: 0 3px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 4px 10px;
      @include mq(sp) {
        padding: 5px;
      }

      &.prev,
      &.next,
      &.first,
      &.end {
        height: 36px;
        background-repeat: no-repeat;
        background-size: auto 20px;
        background-position: center center;
      }

      &.prev {
        background-image: url(../img/article/arrow_left.svg);
        margin-right: 5px;
      }

      &.next {
        background-image: url(../img/article/arrow_right.svg);
        margin-left: 5px;
      }

      &.first {
        background-image: url(../img/article/arrow_first.svg);
      }

      &.end {
        background-image: url(../img/article/arrow_end.svg);
      }
    }
    &.active {
        color: #fff;
        background: $main-color;
    }
    span{
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px 10px;
        @include mq(){
            padding: 6px 10px;
        }
    }
  }
}
