@charset "utf-8";
@use "../../index" as *;

// Pager
.c-articlePager {
  text-align: center;
  padding: 0 0 80px;

  @include mq() {
    padding-bottom: 50px;
  }

  li {
    width: 30px;
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;

    // active
    color: $main-color;
    font-weight: bold;
    @extend %font-size_18;

    a {
      display: block;
      width: 100%;
      height: 100%;

      @include mq(sp) {
        padding: 5px;
      }

      &.prev,
      &.next,
      &.first,
      &.end {
        height: 30px;
        background-repeat: no-repeat;
        background-size: auto 20px;
        background-position: center center;
      }

      &.prev {
        background-image: url(../img/article/arrow_left.svg);
      }

      &.next {
        background-image: url(../img/article/arrow_right.svg);
      }

      &.first {
        background-image: url(../img/article/arrow_first.svg);
      }

      &.end {
        background-image: url(../img/article/arrow_end.svg);
      }
    }
  }
}
