@charset "utf-8";
@use "../index" as *;


// パンくずリスト
div.c-breadcrumbs {
	width: 100%;
	height: 3.7em;
	margin: 0;
	padding: 1em 0;
	background-color: #F0F0F0;
	border-top: $border-color 1px solid;
	position: relative;
	@extend %font-size_12;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	/*スクロールバー非表示*/
	/* IE, Edge 対応 */
	-ms-overflow-style: none;
	/* Firefox 対応 */
	scrollbar-width: none;
	/* Chrome, Safari 対応 */
	&::-webkit-scrollbar {
		display:none;
	}


	#breadcrumbs {
		margin: auto;
		white-space: nowrap;
		font-family: $sub-font-family;
		font-size: 14px;
		a {
			color: $main-color;
			background-image: url(../img/arrow/breadcrumb_arrow_right.svg);
			background-position: center right;
			background-size: 7px 20px;
			padding: 0 1em 0 0;
			font-weight: bold;
			&:hover{
				opacity: .7;
			}
		}
	}
}
