@charset "utf-8";
@use "../index" as *;


// パンくずリスト
div.c-breadcrumbs {
	width: 100%;
	margin: 0;
	padding: .6em 0;
	background-color: $bg-color02;

	position: relative;
	@extend %font-size_14;
    font-family: $sub-font-family;
    letter-spacing: 0.05em;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	/*スクロールバー非表示*/
	/* IE, Edge 対応 */
	-ms-overflow-style: none;
	/* Firefox 対応 */
	scrollbar-width: none;
	/* Chrome, Safari 対応 */
	&::-webkit-scrollbar {
		display:none;
	}


	#breadcrumbs {
		margin: auto;
		white-space: nowrap;

		a {
			color: $main-color;
			padding: 0 17px 0 0;
			font-weight: bold;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                right: 6px;
                top: 30%;
                width: 6px;
                height: 6px;
                border-left: 2px solid #000;
                border-top: 2px solid #000;
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
                margin-top: -1px;
            }
		}

        span{
            color: $main-color;
            font-weight: bold;
        }

		img {
			margin: 1px 5px;
			vertical-align: text-bottom;
			width: 14px;
			height: 13px;
		}
	}
}
