@charset "utf-8";
@use "../index" as *;

.c-btn {
  // リンク
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  padding: 15px 0;
  font-weight: bold;
  @extend %en-font;
  @include link-color(#050500);

  &::after{
    content: "";
    width: 47.31px;
    height: 26px;
    bottom: 35px;
    right: 25px;
    background: url(../img/arrow/arrow-btn-bl.svg) center center no-repeat;
    background-size: contain;
    margin-left: 23px;
  }

  &.--wh{
    color: #fff;
    &:after{
        background-image: url(../img/arrow/arrow-btn-wh.svg);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  @include mq(sp) {
    min-width: 0;
    display: flex;
  }
  &--back {
    display: block;
    position: relative;
    max-width: 100px;
    @extend %font-size_20;
    letter-spacing: -0.04em;
    padding-left: 65px;
    margin: 16px auto 0;
    @include mq() {
        margin: 10px auto 0;
        padding: 10px 0 10px 60px;
    }

    &:after {
        position: absolute;
        right: unset;
        left: 4px;
        bottom: unset;
        top: 15px;
        background-image: url("../img/arrow/arrow-btn-br.svg");
        margin-left: 0;

        @include mq() {
            top: 8px;
            left: 0;
        }
    }
  }
}


