@charset "utf-8";
@use "../index" as *;

.c-column {
  @include mq_up(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.--reverse{
      flex-direction: row-reverse;
    }
    &__image{
      width: 42.8%;
    }
    &__cont{
      width: 51.37%;
      &-text{
          margin-top: 20px;
      }
    }
  }
  &__cont{
    &-ttl{
      @extend %font-size_30;
      @include mq(){
        margin-top: 20px;
      }
    }
    &-text{
        @include mq(){
          margin-top: 10px;
        }
    }
  }
  .c-btn{
    margin-top: 30px;
    @include mq(){
      margin-top: 20px;
    }
  }
}

