@charset "utf-8";
@use "../index" as *;

// ------------ library List ------------
.c-libraryList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;

    @include mq() {
        margin: 0 -10px -20px;
    }

    @include mq(sp) {
        margin: 0 0 20px;
    }

    &--2col{
        margin: 0 -15px;
        @include mq(){
            margin: 0;
        }
        .c-card{
            width: 50%;
            padding: 0 15px;
            margin-bottom: 0;
            @include mq(){
                width: 100%;
                padding: 0;
            }
        }
    }
}