@charset 'utf-8';
@use "../index" as *;

// ページタイトル
.c-pageTitle {
  width: 100%;
  background: url("../img/common/bg-pagetitle.jpg") no-repeat center;
  background-size: cover;
  padding: 232px 0 40px;
  font-weight: bold;

  @include mq() {
    padding: 110px 0 20px;
  }
  h1{
    color: #fff;
    font-size: 70px;
    font-family: $sub-font-family;
    margin-bottom: -4px;
    @include mq(){
        font-size: 35px;
        margin-bottom: -2px;
    }
  }
  p{
    color: #fff;
    @extend %font-size_24;
    font-weight: 900;
    letter-spacing: 0.05em;
    @include mq() {
        font-size: 18px;
    }
  }
}

// ページタイトル（大）
.c-pageTitle-large{
  width: 100%;
  height: 100vh;
  background-color:#707070;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  &__bg{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  @include mq(){
    max-height: 500px;
  }
  &__en{
    font-size: 74px;
    @extend %en-font;
    @include mq(){line-height: 1.1;}
    @include mq(sp){
      font-size: 11.2vw;
    }
  }
  &__ja{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 24px;
    @include mq(sp){
      font-size: 4.5vw;
    }
  }
  &__subttl{
    @extend %en-font;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
    @include mq(sp){
      font-size: 4.5vw;
    }
  }
  &__txt{
    font-weight: 500;
    max-width: 775px;
  }
  .l-wrapper{
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    color: #fff;
    @include mq(){
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.--case{
    .c-pageTitle-large__en{
      font-size: 70px;
      line-height: 1.2;
    }
    .c-pageTitle-large__ja{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .c-pageTitle-large__txt{
      max-width: 790px;
    }
    @include mq(){
      .c-pageTitle-large__en{
        font-size: 10vw;
      }
      .c-pageTitle-large__ja{
        font-size: 4.5vw;
      }
    }
  }
}