@charset "utf-8";
@use "../index" as *;

.c-set01{
    display: flex;
    gap: 65px;
    &+&{
      margin-top: 106px;
    }
    &__txt{
      flex: 1;
    }
    &__img{
      width: 50%;
    }
    &.--reverse{
      flex-direction: row-reverse;
    }
    @include mq() {
      display: block;
      &__img{
        width: 100%;
        margin-top: 20px;
      }
    }
  }