@charset "UTF-8";

// ---- テーマの基本スタイル ----

// メインカラー
$main-color: #041548;
$sub-color: #23B8B0;
$err-color: #de2636;   // フォームのエラー表示の色として設定

// 標準背景色
$bg-color: #6F6F6F;
$bg-color02: #F0F0F0; 
$bg-color03: #EFEFEF;

// 標準フォントカラー
$base-font-color: #050505;

// 標準ボーダーカラー
$border-color: #D5D5D5;
$border-color02: #DBDBDB;

// ボックス
$box: #e1e1e1;


